// colors

$white: rgb(255,255,255);
$bigStone: rgb(21,38,62);
$electricViolet: rgb(162,26,240);
$rose: rgb(255,0,114);
$shockingPink: rgb(214,15,190);
$boulder: rgb(118,118,118);
$iron: rgb(220,220,222);
$pickledBluewood: rgb(55,67,98);
$tundora: rgb(77,77,77);
$elViolet: rgb(199,20,213);


// typography

$base-font-family: 'Raleway', sans-serif;
$base-font-size: 15px;